<?xml version="1.0" encoding="utf-8"?>
<config>
 <version>1.5</version>
    <params>
    <param name="csv_delimiter" type="text" default="," label="CSV Delimiter" description="Delimiter used in the CSV Files"></param>
    <param name="mail_sender" type="text" label="Sender"
    	description="Sender for Confirmation Mail">
    </param>
    <param name="mail_subject" type="text" label="Subject"
    	description="Subject for Mail Message" default="Your website account has been edited">
    </param>
    <param name="mail_body" type="textarea" label="CBJ_MAIL_BODY"
    	description="Body of confirmation email" default="CBJ_DEFAULTMESSAGE" cols="50" rows="10">
    </param>
    <param name="save_exclude_list" type="textarea"
    	label="CBJ_EXCLUDED_FIELDS"
    	description="Comma delimited field list" default="user_id" cols="50"
    	rows="5">

	</param>
    </params>
	 <fields>
    <fieldset name="display" label="cbjuice2 options">
    <field name="csv_delimiter" type="text" default="," label="CSV Delimiter" description="Delimiter used in the CSV Files"></field>
    <field name="mail_sender" type="text" label="Sender"
    	description="Sender for Confirmation Mail">
    </field>
    <field name="mail_subject" type="text" label="Subject"
    	description="Subject for Mail Message" default="Your website account has been edited">
    </field>
    <field name="mail_body" type="textarea" label="CBJ_MAIL_BODY"
    	description="Body of confirmation email" default="CBJ_DEFAULTMESSAGE" cols="50" rows="10">
    </field>
    <field name="save_exclude_list" type="textarea"
    	label="CBJ_EXCLUDED_FIELDS"
    	description="Comma delimited field list" default="user_id" cols="50"
    	rows="5">
    </field>
    </fieldset>
<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" filter="rules" validate="rules" component="com_cbjuice2" section="component" />
	</fieldset>
	</fields>
</config>
